:root {
    --color-dark: #000000;
    --color-red: #b40909;
    --color-light: #FFFFFF;
    --color-gray: #858585;
    --color-blue: #0000FF;

    --border-radius: 5px;
    --border-active-width: 4px;
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: var(--color-light);
    margin: 0;
}

html {
  scrollbar-gutter: auto !important;
}

h1 {
    color: var(--color-dark);
}

h3 {
    z-index: 2;
}

main {
    padding: 5% 10% 0 10%;
}

.header {
    margin: 0;
    padding: 0;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: var(--color-dark);
}

.header__inner {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 20px;
}

.header__logo {
    height: 100%;
    display: flex;
    grid-column: 2;
    align-items: center;
    justify-content: center;
}

.logo__wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease;
}

.logo__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.button {
    color: var(--color-light);
    outline: none;
    border: var(--border-active-width) solid transparent;
}

.button:active {
    border-color: var(--color-blue);
    border-radius: var(--border-active-width);
}

.mediabanner__functional {
    display: flex;
    align-items: end;
    gap: 12px;
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mediabanner__search {
    display: flex;
    gap: 12px;
    align-items: center;
    max-width: 400px;
    width: 100%;
}

.request__button-wrapper {
    display: block;
    text-decoration: none;
}

.request__button {
    padding: 14px 40px 14px 22px;
    background-color: var(--color-dark);
    color: var(--color-light);
    border: var(--border-active-width) solid transparent;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 800;
    text-decoration: none;
    display: flex;
    white-space: nowrap;
    position: relative;
    transition: all 0.3s ease;
}

.request__button::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--color-light);
    transition: transform 0.3s ease;
}

.request__button:hover::after {
    transform: translateY(-50%) rotate(180deg);
}

.request__button:active {
    border-color: var(--color-blue);
}

.mediabanner {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.mediabanner__image {
    width: 100%;
    height: 500px;
    max-height: 100%;
    overflow: hidden;

}

.mediabanner__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    box-sizing: border-box;

}

.search__input {
    padding: 14px 20px;
    border: 2px solid var(--color-gray);
    border-radius: var(--border-radius);
    font-weight: 400;
    color: var(--color-gray);
    background: var(--color-dark);
    outline: none;
    box-sizing: border-box;

}

.search__input::placeholder {
    color: var(--color-gray);
    font-weight: 400;
}

.search__button {
    padding: 14px 28px;
    background-color: var(--color-red);
    color: var(--color-light);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.search__button:hover {
    background-color: #9d0000;
}

.search__input:not(:placeholder-shown) {
    background: var(--color-dark) !important;
    color: var(--color-light) !important;
    border-color: var(--color-light) !important;
}

.search__input:not(:placeholder-shown)::placeholder {
    color: var(--color-light) !important;
}

.search__input:active {
    border: var(--border-active-width) solid var(--color-blue);
}



.mediabanner__quoteblock {
    margin-bottom: 25px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: clamp(1rem, 5vw, 2rem);
}

.cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card {
    position: relative;
    width: 16rem;
    height: 22rem;
    border-radius: 0.3rem;
    overflow: hidden;
}

.card__inner {
    position: absolute;
    font-size: clamp(1rem, 1.5rem, 2rem);
    top: 85%;
    left: 5%;
    display: flex;
    align-items: center;
}

.card__image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.3rem;
    display: block;
}

.card__image img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.3rem;
    display: block;
}

.card__button {
    background-color: var(--color-red);
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
    margin: 1rem;

}

.card__button::before,
.card__button::after {
    content: "";
    position: absolute;
    background-color: var(--color-light);
    top: 50%;
}

.card__button::before {
    left: 20%;
    width: 12px; 
    height: 3px;  
    transform: translateY(-50%);
}

.card__button::after {
    left: 30%;
    width: 10px;
    height: 10px;
    border-top: 4px solid var(--color-light);
    border-right: 4px solid var(--color-light); 
    transform: translateY(-50%) rotate(45deg);
    background: transparent;
}

.starcart {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1000;
}

.starcart__icon {
    position: relative;
    width: 180px; /* 60px * 3 = 180px */
    height: 180px; /* 60px * 3 = 180px */
    border-radius: 30%; /* Обрезка углов на 30% */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    color: #fff;
}

.starcart__icon img {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

:root {
    --color-dark: #000000;
    --color-red: #b40909;
    --color-light: #FFFFFF;
    --color-gray: #858585;
    --color-blue: #0000FF;

    --border-radius: 5px;
    --border-active-width: 4px;
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: var(--color-light);
    margin: 0;
}

html {
  scrollbar-gutter: auto !important;
}

h1 {
    color: var(--color-dark);
}

h3 {
    z-index: 2;
}

main {
    padding: 5% 10% 0 10%;
}

.header {
    margin: 0;
    padding: 0;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: var(--color-dark);
}

.header__inner {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 20px;
}

.header__logo {
    height: 100%;
    display: flex;
    grid-column: 2;
    align-items: center;
    justify-content: center;
}

.logo__wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease;
}

.logo__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.button {
    color: var(--color-light);
    outline: none;
    border: var(--border-active-width) solid transparent;
}

.button:active {
    border-color: var(--color-blue);
    border-radius: var(--border-active-width);
}

.header__button-wrapper {
    grid-column: 3;
    justify-self: end;
    display: block;
    text-decoration: none;
    color: #000000;
}

.header__button {
    display: block;
    padding: 10px 35px 10px 20px;
    background-color: var(--color-dark);
    text-decoration: none;
    border: var(--border-active-width) solid transparent;
    position: relative;
}

.header__button::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--color-light);
    transition: transform 0.3s ease;
}

.mediabanner {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.mediabanner__image {
    width: 100%;
    height: 500px;
    max-height: 100%;
    overflow: hidden;

}

.mediabanner__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    box-sizing: border-box;

}

.mediabanner__search {
    box-sizing: border-box;
    display: flex;
    gap: 12px;
    max-width: 400px;
    width: 100%;
    margin-top: 25px;
}

.search__input {
    padding: 14px 20px;
    border: 2px solid var(--color-gray);
    border-radius: var(--border-radius);
    font-weight: 400;
    color: var(--color-gray);
    background: var(--color-dark);
    outline: none;
    box-sizing: border-box;

}

.search__input::placeholder {
    color: var(--color-gray);
    font-weight: 400;
}

.search__button {
    padding: 14px 28px;
    background-color: var(--color-red);
    color: var(--color-light);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.search__button:hover {
    background-color: #9d0000;
}

.search__input:active {
    border: var(--border-active-width) solid var(--color-blue);
}



.mediabanner__quoteblock {
    margin-bottom: 25px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: clamp(1rem, 5vw, 2rem);
}

.cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card {
    position: relative;
    width: 16rem;
    height: 22rem;
    border-radius: 0.3rem;
    overflow: hidden;
}

.card__inner {
    position: absolute;
    font-size: clamp(1rem, 1.5rem, 2rem);
    top: 85%;
    left: 5%;
    display: flex;
    align-items: center;
}

.card__image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.3rem;
    display: block;
}

.card__image img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.3rem;
    display: block;
}

.card__button {
    background-color: var(--color-red);
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
    margin: 1rem;

}

.card__button::before,
.card__button::after {
    content: "";
    position: absolute;
    background-color: var(--color-light);
    top: 50%;
}

.card__button::before {
    left: 20%;
    width: 12px; 
    height: 3px;  
    transform: translateY(-50%);
}

.card__button::after {
    left: 30%;
    width: 10px;
    height: 10px;
    border-top: 4px solid var(--color-light);
    border-right: 4px solid var(--color-light); 
    transform: translateY(-50%) rotate(45deg);
    background: transparent;
}

.starcart {
    position: fixed;
    top: auto;
    bottom: 30px;
    right: 0px;
    z-index: 1000;
}

.starcart__icon {
    position: relative;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    color: #fff;
}

.starcart__icon img {
    width: 96px;
    height: 96px;
    border-radius: 18%; 
    object-fit: contain;
    overflow: hidden;
}

.starcart__count {
    position: absolute;
    top: 25px;
    right: 25px; 
    background-color: var(--color-red);
    color: #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    animation: star-pulse 2s infinite;
}


.starcart__icon:hover {
    transform: scale(1.1);
}
