<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.class.Name}} Класс</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/normalized.css">
    <link rel="stylesheet" href="/styles/class_style.css">
</head>
<body>
    <header class="header">
        <div class="header__inner">
            <a class="header__logo logo" href="/">
                <div class="logo__wrapper">
                    <img 
                    class="logo__image"
                    src="/images/logo.png"
                    alt="Logo"
                    width="100"
                    height="100"
                    loading="lazy"
                    />
                </div>
            </a>
        </div>
    </header>
    <main>
        <h1 class="star__title">"{{ .class.Name }}" Класс Звезды</h1>
        <div class="star__container">
            <img class="star__image" src="{{.class.Image}}" alt="{{.class.Name}}" />
            <div class="star__info">
                <h3>Температура: {{ .class.Temperature }} К</h3>
                <h3>Цвет: {{ .class.Color }}</h3>
                <h3>Спектр: {{ .class.Spectre }}</h3>
                <h3>Примеры: {{ .class.Examples }}</h3>
            </div>
        </div>
    </main>
</body>
</html> 