<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Спектральные классы звезд</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/normalized.css">
    <link rel="stylesheet" href="/styles/index_style.css">
</head>
<body>
    <div class="starcart">
        <div class="starcart__icon">
            <img src="/images/calc.png" alt="Cart" width="24" height="24">
            <span class="starcart__count">3</span>
        </div>
    </div>
    <header class="header">
        <div class="header__inner">
            <a class="header__logo logo" href="/">
                <div class="logo__wrapper">
                    <img 
                    class="logo__image"
                    src="../resources/images/logo.png"
                    alt="Logo"
                    width="100"
                    height="100"
                    loading="lazy"
                    />
                </div>
            </a>
        </div>
    </header>
    <section class="mediabanner">
        <div class="mediabanner__image">
            <img
            src="/images/main-star.png"
            alt=""
            />
        </div>
        <div class="mediabanner__content">
            <div class="mediabanner__functional">
                <form class="mediabanner__search search" action="/search" method="GET">
                    <input
                        type="search"
                        class="search__input"
                        name="query"
                        placeholder="Поиск..."
                        value="{{.searchQuery}}"
                    >
                    <button class="search__button button">Найти</button>
                </form>
                <a class="request__button-wrapper" href="/request/1">
                    <button class="request__button button">
                        Заявки
                    </button>
                </a>
            </div>
            <figure class="mediabanner__quoteblock">
                <blockquote class="quoteblock__quote">
                    Космос есть внутри нас. <br>
                    Мы сделаны из звёздного вещества, <br>
                    мы — это способ, которым Космос познаёт себя 
                </blockquote>
                <figcaption class="mediabanner__author">© Карл Саган</figcaption>
            </figure>
        </div>
    </section>
    <main>
        <h1>Спектральные классы звезд</h1>
        <div class="cards__container">
            {{range .cards}}
                <div class="card">
                    <div class="card__image">
                        <img src="{{.Image}}" alt="{{.Name}}" />
                    </div>
                    <div class="card__inner">
                        <h3>"{{.Name}}" Класс</h3>
                        <a href="/class/{{.ID}}">
                            <button class="card__button button"></button>
                        </a>
                    </div>
                </div>
            {{end}}
        </div>
    </main>
</body>
</html>